{% extends "master.html.twig" %}

{% block title %}New auction{% endblock %}

{% block content %}

<h1>New Auction</h1>

{% if errorList %}
<ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST">
    Description: <textarea name="itemDescription">{ v.itemDescription}</textarea><br>
    <span>Image upload - todo</span>
    Name: <input  type="text" name="sellersName" value="{{ v.sellersName }}" ><br>
    Email: <input  type="email" name="sellerEmail" value="{{ v.sellerEmail }}"><br>
    Initial Bid Price: <input  type="text" name="lastBidPrice" value="{{ v.lastBidPrice }}" ><br>
    <input  type="submit" value="Create Auction" ><br>
</form>

{% endblock content %}